<div class="video-background">
  <button *ngIf="showPlayButton" routerLink="/home" class="back">
    <lucide-icon name="circle-arrow-left"></lucide-icon>
  </button>

  <button *ngIf="showPlayButton" (click)="playVideo()" class="play">
    <lucide-icon name="play"></lucide-icon>
  </button>

  <!-- Camada interativa invisível (usando o #interactiveLayer) -->
  <div #interactiveLayer class="interactive-layer"></div>

  <!-- Vídeo -->
  <video #videoElement loop autoplay playsinline preload="auto" >
    <source src="/video2.mp4" type="video/mp4" />
    Seu navegador não suporta o elemento de vídeo.
  </video>
</div>
